body {
    background-image: url('https://s2.glbimg.com/RLBsPIM9oefmtGw0FJDih6-A8eY=/0x0:2235x1341/1600x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_f035dd6fd91c438fa04ab718d608bbaa/internal_photos/bs/2019/D/v/ZWMMdTQKu2xahN0tUU4g/gettyimages-1132930101.jpg');
    background-size: auto 100vh;
    font-family: Arial;
    hieght: 100vh;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: Black;
    text-decoration: none;
   }
  
  a:hover {
    text-decoration: underline;
  }
  .site-title {
    color: black;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
    text-align: right;
  }